<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiptalk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.setting.SettingUserInfoActivity"></activity>
        <activity android:name=".ui.setting.SettingAlarmActivity" />
        <activity android:name=".FindPwdActivity" />
        <activity
            android:name=".FindIdActivity"
            android:label="아이디 찾기" />
        <activity android:name=".SettingIdPwdActivity" />
        <activity android:name=".SignUpCompleteActivity" />
        <activity android:name=".SampleLoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="회원가입" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ui.message.MessageDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.AddBuildingActivity"
            android:label="신규 건물 등록" />
        <activity android:name=".ui.home.JusoWebViewActivity" />
        <activity android:name=".ui.home.BuildingDetailActivity" />
        <activity android:name=".ui.home.AddUnitActivity"
            android:label="신규 세대 등록"/>
    </application>

</manifest>